doctype html
html(lang=locale)
  head
    meta(charset="utf-8")
    title Samaipata Landhaus
    meta(name="viewport" content="width=device-width, initial-scale=1")
    <!--[if lte IE 8]> <script src="js/ie/html5shiv.js"></script> <![endif]-->
    link(rel="stylesheet" href="css/main.css")
    <!--[if lte IE 8]> <link rel="stylesheet" href="css/ie8.css" /> <![endif]-->
  body#top

    header#header
      a.image.avatar(href="#top"): img(src="images/entrance.jpg" alt="")
      h1 !{marked(header.blurb)}

    #main
      nav#lang
        ul
          li: a(href='/es.html'): img(src='images/lang/es.png')
          li: a(href='/en.html'): img(src='images/lang/en.png')
          li: a(href='/de.html'): img(src='images/lang/de.png')
          //li: a(href='/nl.html'): img(src='images/lang/nl.png')

      section#intro
        header.major
          h2 !{marked(intro.heading)}
          ul.actions
            li: a(href="#accomodation" class="button special")= buttons.accomodation
            li: a(href="#facilities" class="button special")= buttons.facilities
            li: a(href="#contact" class="button special")= buttons.contactUs
          | !{marked(intro.blurb)}
          

      section#accomodation
        h2= accomodation.heading
        .row#houses
          h3= accomodation.houses.heading
          | !{marked(accomodation.houses.blurb)}
          article#house1(class='house 6u 12u$(xsmall)')
            h3= accomodation.houses.houses[0].heading
            a.image.fit.thumb(href='images/houses/1/1.full.jpg')
              img(src='images/houses/1/1.thumb.jpg' alt="")
            a.image(hidden href='images/houses/1/2.full.jpg') 
            a.image(hidden href='images/houses/1/3.full.jpg') 
            a.image(hidden href='images/houses/1/4.full.jpg')
            a.image(hidden href='images/houses/1/5.full.jpg')
            a.image(hidden href='images/houses/1/6.full.jpg')
            a.image(hidden href='images/houses/1/7.full.jpg')
            | !{marked(accomodation.houses.houses[0].description)}
          article#house2(class='house 6u 12u$(xsmall)')
            h3= accomodation.houses.houses[1].heading
            a.image.fit.thumb(href='images/houses/2/1.full.jpg')
              img(src='images/houses/2/1.thumb.jpg' alt="")
            a.image(hidden href='images/houses/2/2.full.jpg')
            a.image(hidden href='images/houses/2/3.full.jpg') 
            a.image(hidden href='images/houses/2/4.full.jpg')
            a.image(hidden href='images/houses/2/5.full.jpg')
            a.image(hidden href='images/houses/2/6.full.jpg')
            a.image(hidden href='images/houses/2/7.full.jpg')
            a.image(hidden href='images/houses/2/8.full.jpg')
            a.image(hidden href='images/houses/2/9.full.jpg')
            a.image(hidden href='images/houses/2/10.full.jpg')
            | !{marked(accomodation.houses.houses[1].description)}
          article#house3(class='house 12u$')
            h3= accomodation.houses.houses[2].heading
            a.image.fit.thumb(href='images/houses/3/1.full.jpg')
              img(src='images/houses/3/1.full.jpg' alt="")
            a.image(hidden href='images/houses/3/2.full.jpg')
            a.image(hidden href='images/houses/3/3.full.jpg') 
            a.image(hidden href='images/houses/3/4.full.jpg')
            a.image(hidden href='images/houses/3/5.full.jpg')
            a.image(hidden href='images/houses/3/6.full.jpg')
            a.image(hidden href='images/houses/3/7.full.jpg')
            a.image(hidden href='images/houses/3/8.full.jpg')
            a.image(hidden href='images/houses/3/9.full.jpg')
            a.image(hidden href='images/houses/3/10.full.jpg')
            | !{marked(accomodation.houses.houses[2].description)}
          article#house4(class='house 6u 12u$(xsmall)')
            h3= accomodation.houses.houses[3].heading
            a.image.fit.thumb(href='images/houses/4/1.full.jpg')
              img(src='images/houses/4/1.thumb.jpg' alt="")
            a.image(hidden href='images/houses/4/2.full.jpg')
            a.image(hidden href='images/houses/4/3.full.jpg') 
            a.image(hidden href='images/houses/4/4.full.jpg')
            a.image(hidden href='images/houses/4/5.full.jpg')
            a.image(hidden href='images/houses/4/6.full.jpg')
            a.image(hidden href='images/houses/4/7.full.jpg')
            a.image(hidden href='images/houses/4/8.full.jpg')
            a.image(hidden href='images/houses/4/9.full.jpg')
            a.image(hidden href='images/houses/4/10.full.jpg')
            a.image(hidden href='images/houses/4/11.full.jpg')
            | !{marked(accomodation.houses.houses[3].description)}
          article#house5(class='house 6u 12u$(xsmall)')
            h3= accomodation.houses.houses[4].heading
            a.image.fit.thumb(href='images/houses/5/1.full.jpg')
              img(src='images/houses/5/1.thumb.jpg' alt="")
            a.image(hidden href='images/houses/5/2.full.jpg')
            a.image(hidden href='images/houses/5/3.full.jpg') 
            a.image(hidden href='images/houses/5/4.full.jpg')
            a.image(hidden href='images/houses/5/5.full.jpg')
            a.image(hidden href='images/houses/5/6.full.jpg')
            a.image(hidden href='images/houses/5/7.full.jpg')
            a.image(hidden href='images/houses/5/8.full.jpg')
            a.image(hidden href='images/houses/5/9.full.jpg')
            a.image(hidden href='images/houses/5/10.full.jpg')
            a.image(hidden href='images/houses/5/11.full.jpg')
            | !{marked(accomodation.houses.houses[4].description)}
        .row#rooms
          h3= accomodation.rooms.heading
          | !{marked(accomodation.rooms.blurb)}
          article#room1(class='room 6u 12u$(xsmall)')
            h3= accomodation.rooms.rooms[0].heading
            a.image.fit.thumb(href='images/rooms/1/1.full.jpg')
              img(src='images/rooms/1/1.thumb.jpg' alt="")
            a.image(hidden href='images/rooms/1/2.full.jpg')
            a.image(hidden href='images/rooms/1/3.full.jpg') 
            a.image(hidden href='images/rooms/1/4.full.jpg')
            a.image(hidden href='images/rooms/1/5.full.jpg')
            a.image(hidden href='images/rooms/1/6.full.jpg')
            | !{marked(accomodation.rooms.rooms[0].description)}
          article#room2(class='room 6u 12u$(xsmall)')
            h3= accomodation.rooms.rooms[1].heading
            a.image.fit.thumb(href='images/rooms/2/1.full.jpg')
              img(src='images/rooms/2/1.thumb.jpg' alt="")
            a.image(hidden href='images/rooms/2/2.full.jpg')
            a.image(hidden href='images/rooms/2/3.full.jpg') 
            a.image(hidden href='images/rooms/2/4.full.jpg')
            a.image(hidden href='images/rooms/2/5.full.jpg')
            a.image(hidden href='images/rooms/2/6.full.jpg')
            | !{marked(accomodation.rooms.rooms[1].description)}
          article#room3(class='room 6u 12u$(xsmall)')
            h3= accomodation.rooms.rooms[2].heading
            a.image.fit.thumb(href='images/rooms/3/1.full.jpg')
              img(src='images/rooms/3/1.thumb.jpg' alt="")
            a.image(hidden href='images/rooms/3/2.full.jpg')
            a.image(hidden href='images/rooms/3/3.full.jpg') 
            a.image(hidden href='images/rooms/3/4.full.jpg')
            a.image(hidden href='images/rooms/3/5.full.jpg')
            a.image(hidden href='images/rooms/3/6.full.jpg')
            a.image(hidden href='images/rooms/3/7.full.jpg')
            a.image(hidden href='images/rooms/3/8.full.jpg')
            a.image(hidden href='images/rooms/3/9.full.jpg')
            | !{marked(accomodation.rooms.rooms[2].description)}
          article#room4(class='room 6u 12u$(xsmall)')
            h3= accomodation.rooms.rooms[3].heading
            a.image.fit.thumb(href='images/rooms/4/1.full.jpg')
              img(src='images/rooms/4/1.thumb.jpg' alt="")
            a.image(hidden href='images/rooms/4/2.full.jpg')
            a.image(hidden href='images/rooms/4/3.full.jpg') 
            a.image(hidden href='images/rooms/4/4.full.jpg')
            a.image(hidden href='images/rooms/4/5.full.jpg')
            a.image(hidden href='images/rooms/4/6.full.jpg')
            a.image(hidden href='images/rooms/4/7.full.jpg')
            a.image(hidden href='images/rooms/4/8.full.jpg')
            a.image(hidden href='images/rooms/4/9.full.jpg')
            | !{marked(accomodation.rooms.rooms[3].description)}
          article#room5(class='room 6u 12u$(xsmall)')
            h3= accomodation.rooms.rooms[4].heading
            a.image.fit.thumb(href='images/rooms/5/1.full.jpg')
              img(src='images/rooms/5/1.thumb.jpg' alt="")
            a.image(hidden href='images/rooms/5/2.full.jpg')
            a.image(hidden href='images/rooms/5/3.full.jpg') 
            a.image(hidden href='images/rooms/5/4.full.jpg')
            a.image(hidden href='images/rooms/5/5.full.jpg')
            a.image(hidden href='images/rooms/5/6.full.jpg')
            a.image(hidden href='images/rooms/5/7.full.jpg')
            a.image(hidden href='images/rooms/5/8.full.jpg')
            | !{marked(accomodation.rooms.rooms[4].description)}
          article#room6-7(class='room 6u 12u$(xsmall)')
            h3= accomodation.rooms.rooms[5].heading
            a.image.fit.thumb(href='images/rooms/6-7/1.full.jpg')
              img(src='images/rooms/6-7/1.thumb.jpg' alt="")
            a.image(hidden href='images/rooms/6-7/2.full.jpg')
            a.image(hidden href='images/rooms/6-7/3.full.jpg') 
            a.image(hidden href='images/rooms/6-7/4.full.jpg')
            a.image(hidden href='images/rooms/6-7/5.full.jpg')
            a.image(hidden href='images/rooms/6-7/6.full.jpg')
            a.image(hidden href='images/rooms/6-7/7.full.jpg')
            | !{marked(accomodation.rooms.rooms[5].description)}
          article#room8(class='room 6u 12u$(xsmall)')
            h3= accomodation.rooms.rooms[6].heading
            a.image.fit.thumb(href='images/rooms/8/1.full.jpg')
              img(src='images/rooms/8/1.thumb.jpg' alt="")
            a.image(hidden href='images/rooms/8/2.full.jpg')
            a.image(hidden href='images/rooms/8/3.full.jpg')
            a.image(hidden href='images/rooms/8/4.full.jpg')
            a.image(hidden href='images/rooms/8/5.full.jpg')
            a.image(hidden href='images/rooms/8/6.full.jpg')
            a.image(hidden href='images/rooms/8/7.full.jpg')
            a.image(hidden href='images/rooms/8/8.full.jpg')
            | !{marked(accomodation.rooms.rooms[6].description)}
          article#room9(class='room 6u 12u$(xsmall)')
            h3= accomodation.rooms.rooms[7].heading
            a.image.fit.thumb(href='images/rooms/9/1.full.jpg')
              img(src='images/rooms/9/1.thumb.jpg' alt="")
            a.image(hidden href='images/rooms/9/2.full.jpg')
            a.image(hidden href='images/rooms/9/3.full.jpg') 
            a.image(hidden href='images/rooms/9/4.full.jpg')
            a.image(hidden href='images/rooms/9/5.full.jpg')
            a.image(hidden href='images/rooms/9/6.full.jpg')
            a.image(hidden href='images/rooms/9/7.full.jpg')
            | !{marked(accomodation.rooms.rooms[7].description)}
          article#room10(class='room 6u 12u$(xsmall)')
            h3= accomodation.rooms.rooms[8].heading
            a.image.fit.thumb(href='images/rooms/10/1.full.jpg')
              img(src='images/rooms/10/1.thumb.jpg' alt="")
            a.image(hidden href='images/rooms/10/2.full.jpg')
            a.image(hidden href='images/rooms/10/3.full.jpg') 
            a.image(hidden href='images/rooms/10/4.full.jpg')
            a.image(hidden href='images/rooms/10/5.full.jpg')
            a.image(hidden href='images/rooms/10/6.full.jpg')
            | !{marked(accomodation.rooms.rooms[8].description)}
          article#room11(class='room 6u 12u$(xsmall)')
            h3= accomodation.rooms.rooms[9].heading
            a.image.fit.thumb(href='images/rooms/11/1.full.jpg')
              img(src='images/rooms/11/1.thumb.jpg' alt="")
            a.image(hidden href='images/rooms/11/2.full.jpg')
            a.image(hidden href='images/rooms/11/3.full.jpg') 
            a.image(hidden href='images/rooms/11/4.full.jpg')
            a.image(hidden href='images/rooms/11/5.full.jpg')
            a.image(hidden href='images/rooms/11/6.full.jpg')
            a.image(hidden href='images/rooms/11/7.full.jpg')
            | !{marked(accomodation.rooms.rooms[9].description)}

        ul.actions
          li: a(href="#contact" class="button special")= buttons.book

      section#facilities
        h2= facilities.heading

        ul
          each facility in facilities.facilities
            li= facility.description
        | !{marked(facilities.addendum)}

        ul.actions
          li: a(href="#contact" class="button special")= buttons.book

      section#samaipata
        a.image.right(href='images/samaipata/samaipata.full.jpg')
          img(src='images/samaipata/samaipata.thumb.jpg' title='Samaipata')
        h2= samaipata.heading
        | !{marked(samaipata.blurb)}
        article#el-fuerte
          a.image.left(href='images/samaipata/el-fuerte.full.jpg')
            img(src='images/samaipata/el-fuerte.thumb.jpg' title='El Fuerte')
          h3= samaipata.sights['el-fuerte'].heading
          | !{marked(samaipata.sights['el-fuerte'].blurb)}
        article#amboro
          a.image.right(href='images/samaipata/amboro.full.jpg')
            img(src='images/samaipata/amboro.thumb.jpg' title='Amboró')
          h3= samaipata.sights['amboro'].heading
          | !{marked(samaipata.sights['amboro'].blurb)}
        article#waterfalls
          a.image.left(href='images/samaipata/waterfalls.full.jpg')
            img(src='images/samaipata/waterfalls.thumb.jpg' title='Cuevas')
          h3= samaipata.sights['waterfalls'].heading
          | !{marked(samaipata.sights['waterfalls'].blurb)}
        article#che
          a.image.right(href='images/samaipata/che.full.jpg')
            img(src='images/samaipata/che.thumb.jpg' title='Ché Guevara')
          h3= samaipata.sights['che'].heading
          | !{marked(samaipata.sights['che'].blurb)}
        | !{marked(samaipata.addendum)}

      section#contact
        h2= contact.heading
        | !{marked(contact.blurb)}
        .row
          div(class='8u 12u$(small)')
            form(method='post' action='//formspree.io/landhaus@cotas.com.bo')
              div(class='row uniform 50%')
                div(class='6u 12u$(xsmall)')
                  input(required type='text' name='name' placeholder=contact.form.name)
                div(class='6u$ 12u$(xsmall)')
                  input(required type='email' name='email' placeholder=contact.form.email)
                div(class="12u$")
                  input(required type='text' name="_subject" placeholder=contact.form.subject)
                div(class="12u$")
                  textarea(required name="message" placeholder=contact.form.message rows="4")
                div(class='12u$')
                  ul.actions
                    li#send: input(type='submit' class='button special icon fa-send' value=contact.form.submit)
                    li#sending ...
                    li#success= contact.form.success
                    li#error= contact.form.error

          div(class='4u$ 12u$(small)')
            ul.labeled-icons
              li
                h3.icon.fa-home: span.label= contact.address
                address Landhaus, Calle Murillo, Samaipata, Santa Cruz, Bolivia
              li(hidden=(locale === 'en'))
                h3.icon.fa-phone: span.label= contact.phone
                a(href='tel:+59139446033') +591 3 944 6033
              li
                h3.icon.fa-envelope: span.label= contact.email
                a(href='mailto:landhaus@cotas.com.bo') landhaus@cotas.com.bo

          #directions !{marked(directions)}


          // div(class='12u$')
          //  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Calle%20Murillo%2C%20Samaipata%2C%20Santa%20Cruz%2C%20Bolivia&key=AIzaSyA1ys0BOgZX7z7eXOdrDmEZ4PffDdZV5Fs"></iframe>

      section#gallery
        h2 Gallery
        .box.alt
          div(class="row 50% uniform")
            div(class="12u$")
              a.image.fit(href='images/gallery/terrace.full.jpg')
                img(src="images/gallery/terrace.full.jpg")
            div(class="4u")
              a.image.fit(href='images/gallery/flowers.full.jpg')
                img(src="images/gallery/flowers.thumb.jpg")
            div(class="4u")
              a.image.fit(href='images/gallery/steps.full.jpg')
                img(src="images/gallery/steps.thumb.jpg")
            div(class="4u$")
              a.image.fit(href='images/gallery/loo.full.jpg')
                img(src="images/gallery/loo.thumb.jpg")
            div(class="4u")
              a.image.fit(href='images/gallery/sauna2.full.jpg')
                img(src="images/gallery/sauna2.thumb.jpg")
            div(class="4u")
              a.image.fit(href='images/gallery/laundry.full.jpg')
                img(src="images/gallery/laundry.thumb.jpg")
            div(class="4u$")
              a.image.fit(href='images/gallery/sauna.full.jpg')
                img(src="images/gallery/sauna.thumb.jpg")
            div(class="4u")
              a.image.fit(href='images/gallery/restaurant.full.jpg')
                img(src="images/gallery/restaurant.thumb.jpg")
            div(class="4u")
              a.image.fit(href='images/gallery/garden.full.jpg')
                img(src="images/gallery/garden.thumb.jpg")
            div(class="4u$")
              a.image.fit(href='images/gallery/playground.full.jpg')
                img(src="images/gallery/playground.thumb.jpg")
            div(class="4u")
              a.image.fit(href='images/gallery/pool.full.jpg')
                img(src="images/gallery/pool.thumb.jpg")
            div(class="4u")
              a.image.fit(href='images/gallery/parrilla.full.jpg')
                img(src="images/gallery/parrilla.thumb.jpg")
            div(class="4u$")
              a.image.fit(href='images/gallery/breakfast.full.jpg')
                img(src="images/gallery/breakfast.thumb.jpg")

        ul.actions
          li: a.button.special(href='#top')= buttons.backToTop

      #tripadvisor
        a(href='http://www.tripadvisor.com/Hotel_Review-g303189-d2209374-Reviews-Landhaus-Samaipata_Santa_Cruz_Department.html' title='Trip Advisor' target='_blank')
          img(src='images/tripadvisor.jpg')

      section#styleguide(hidden)
        h2 Elements
        section
          h4 Text
          p
            | This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
            | This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
            | This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.
          hr/
          header
            h4 Heading with a Subtitle
            p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
          p
            | Nunc lacinia ante nunc ac lobortis. Interdum adipiscing
            | gravida odio porttitor sem non mi integer non faucibus ornare mi
            | ut ante amet placerat aliquet. Volutpat eu sed ante lacinia
            | sapien lorem accumsan varius montes viverra nibh in adipiscing
            | blandit tempus accumsan.
            h5 Heading with a Subtitle
            p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
           p
             | Nunc lacinia ante nunc ac lobortis. Interdum adipiscing
             | gravida odio porttitor sem non mi integer non faucibus ornare
             | mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia
             | sapien lorem accumsan varius montes viverra nibh in adipiscing
             | blandit tempus accumsan.
          hr/
          h2 Heading Level 2
          h3 Heading Level 3
          h4 Heading Level 4
          h5 Heading Level 5
          h6 Heading Level 6
          hr/
          h5 Blockquote
          blockquote
           | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt
           | felis sagittis eget tempus euismod. Vestibulum ante ipsum primis
           | in faucibus vestibulum. Blandit adipiscing eu felis iaculis
           | volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum
           | primis in faucibus lorem ipsum dolor sit amet nullam adipiscing
           | eu felis.
          h5 Preformatted
          pre
            code
              | i = 0;
              | while (!deck.isInOrder()) {
              |   print 'Iteration ' + i;
              |   deck.shuffle();
              |   i++;
              | }
              | print 'It took ' + i + ' iterations to sort the deck.';
        section
          h4 Lists
          div.row
            div(class="6u 12u$(xsmall)")
              h5 Unordered
              ul
                li Dolor pulvinar etiam magna etiam.
                li Sagittis adipiscing lorem eleifend.
                li Felis enim feugiat dolore viverra.
              h5 Alternate
              ul.alt
                li Dolor pulvinar etiam magna etiam.
                li Sagittis adipiscing lorem eleifend.
                li Felis enim feugiat dolore viverra.
            div(class="6u$ 12u$(xsmall)")
              h5 Ordered
              ol
                li Dolor pulvinar etiam magna etiam.
                li Etiam vel felis at lorem sed viverra.
                li Felis enim feugiat dolore viverra.
                li Dolor pulvinar etiam magna etiam.
                li Etiam vel felis at lorem sed viverra.
                li Felis enim feugiat dolore viverra.
              h5 Icons
              ul.icons
                li: a(href="#" class="icon fa-twitter"): span.label Twitter
                li: a(href="#" class="icon fa-facebook"): span.label Facebook
                li: a(href="#" class="icon fa-instagram"): span.label Instagram
                li: a(href="#" class="icon fa-github"): span.label Github
                li: a(href="#" class="icon fa-dribbble"): span.label Dribbble
                li: a(href="#" class="icon fa-tumblr"): span.label Tumblr
          h5 Actions
          ul.actions
            li: a(href="#" class="button special") Default
            li: a(href="#" class="button") Default
          ul.actions.small
            li: a(href="#" class="button special small") Small
            li: a(href="#" class="button small") Small
          .row
            div(class="6u 12u$(small)")
              ul.actions.vertical
                li: a(href="#" class="button special") Default
                li: a(href="#" class="button") Default
            div(class="6u$ 12u$(small)")
              ul.actions.vertical.small
                li: a(href="#" class="button special small") Small
                li: a(href="#" class="button small") Small
            div(class="6u 12u$(small)")
              ul.actions.vertical
                li: a(href="#" class="button special fit") Default
                li: a(href="#" class="button fit") Default
            div(class="6u$ 12u$(small)")
              ul.actions.vertical.small
                li: a(href="#" class="button special small fit") Small
                li: a(href="#" class="button small fit") Small
        section
          h4 Table
          h5 Default
          .table-wrapper
            table
              thead
                tr
                  th Name
                  th Description
                  th Price
              tbody
                tr
                  td Item One
                  td Ante turpis integer aliquet porttitor.
                  td 29.99
                tr
                  td Item Two
                  td Vis ac commodo adipiscing arcu aliquet.
                  td 19.99
                tr
                  td Item Three
                  td  Morbi faucibus arcu accumsan lorem.
                  td 29.99
                tr
                  td Item Four
                  td Vitae integer tempus condimentum.
                  td 19.99
                tr
                  td Item Five
                  td Ante turpis integer aliquet porttitor.
                  td 29.99
              tfoot
                tr
                  td(colspan="2")
                  td 100.00

          h5 Alternate
          div.table-wrapper
            table.alt
              thead
                tr
                  th Name
                  th Description
                  th Price
              tbody 
                tr 
                  td Item One
                  td Ante turpis integer aliquet porttitor.
                  td 29.99
                tr 
                  td Item Two
                  td Vis ac commodo adipiscing arcu aliquet.
                  td 19.99
                tr 
                  td Item Three
                  td  Morbi faucibus arcu accumsan lorem.
                  td 29.99
                tr 
                  td Item Four
                  td Vitae integer tempus condimentum.
                  td 19.99
                tr 
                  td Item Five
                  td Ante turpis integer aliquet porttitor.
                  td 29.99
              tfoot 
                tr 
                  td(colspan="2")
                  td 100.00
        section 
          h4 Buttons
          ul.actions
            li: a(href="#" class="button special") Special
            li: a(href="#" class="button") Default
          ul.actions
            li: a(href="#" class="button big") Big
            li: a(href="#" class="button") Default
            li: a(href="#" class="button small") Small
          ul.actions.fit
            li: a(href="#" class="button special fit") Fit
            li: a(href="#" class="button fit") Fit
          ul.actions.fit.small
            li: a(href="#" class="button special fit small") Fit + Small
            li: a(href="#" class="button fit small") Fit + Small
          ul.actions
            li: a(href="#" class="button special icon fa-download") Icon
            li: a(href="#" class="button icon fa-download") Icon
          ul.actions
            li: span(class="button special disabled") Special
            li: span(class="button disabled") Default

        section 
          h4 Form
          form(method="post" action="#")
            div(class="row uniform 50%")
              div(class="6u 12u$(xsmall)")
                input#demo-name(type="text" name="demo-name" value="" placeholder="Name")
              div(class="6u$ 12u$(xsmall)")
                input#demo-email(type="email" name="demo-email" value="" placeholder="Email")
              div(class="12u$")
                .select-wrapper
                  select#demo-category(name="demo-category")
                    option(value="") - Category -
                    option(value="1") Manufacturing
                    option(value="1") Shipping
                    option(value="1") Administration
                    option(value="1") Human Resources
              div(class="4u 12u$(small)")
                input(type="radio" id="demo-priority-low" name="demo-priority" checked)
                label(for="demo-priority-low") Low Priority
              div(class="4u 12u$(small)")
                input(type="radio" id="demo-priority-normal" name="demo-priority")
                label(for="demo-priority-normal") Normal Priority
              div(class="4u$ 12u(small)")
                input(type="radio" id="demo-priority-high" name="demo-priority")
                label(for="demo-priority-high") High Priority
              div(class="6u 12u$(small)")
                input(type="checkbox" id="demo-copy" name="demo-copy")
                label(for="demo-copy") Email me a copy of this message
              div(class="6u$ 12u$(small)")
                input(type="checkbox" id="demo-human" name="demo-human" checked)
                label(for="demo-human") I am a human and not a robot
              div(class="12u$")
                textarea(name="demo-message" id="demo-message" placeholder="Enter your message" rows="6")
              div(class="12u$")
                ul(class="actions")
                  li: input(type="submit" value="Send Message") 
                  li: input(type="reset" value="Reset")
        section
          h4 Image
          h5 Fit
          div.box.alt 
            div(class="row 50% uniform")
              div(class="12u$"): span(class="image fit"): img(src="images/05.full.jpg")
              div(class="4u"): span(class="image fit"): img(src="images/01.thumb.jpg")
              div(class="4u"): span(class="image fit"): img(src="images/02.thumb.jpg")
              div(class="4u$"): span(class="image fit"): img(src="images/03.thumb.jpg")
              div(class="4u"): span(class="image fit"): img(src="images/04.thumb.jpg")
              div(class="4u"): span(class="image fit"): img(src="images/05.thumb.jpg")
              div(class="4u$"): span(class="image fit"): img(src="images/06.thumb.jpg")
              div(class="4u"): span(class="image fit"): img(src="images/03.thumb.jpg")
              div(class="4u"): span(class="image fit"): img(src="images/02.thumb.jpg")
              div(class="4u$"): span(class="image fit"): img(src="images/01.thumb.jpg")
          h5 Left &amp; Right
          p
            span.image.left: img(src="images/avatar.jpg")
            | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt
            | felis sagittis eget. tempus euismod. Vestibulum ante ipsum
            | primis in faucibus vestibulum. Blandit adipiscing eu felis
            | iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac
            | pellentesque praesent tincidunt felis sagittis eget. tempus
            | euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
            | Blandit adipiscing eu felis iaculis volutpat ac adipiscing
            | accumsan eu faucibus. Integer ac pellentesque praesent. Donec
            | accumsan interdum nisi, quis tincidunt felis sagittis eget.
            | tempus euismod. Vestibulum ante ipsum primis in faucibus
            | vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
            | adipiscing accumsan eu faucibus. Integer ac pellentesque
            | praesent tincidunt felis sagittis eget. tempus euismod.
            | Vestibulum ante ipsum primis in faucibus vestibulum. Blandit
            | adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
            | faucibus. Integer ac pellentesque praesent.
          p
            span.image.right: img(src="images/avatar.jpg")
            | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt
            | felis sagittis eget. tempus euismod. Vestibulum ante ipsum
            | primis in faucibus vestibulum. Blandit adipiscing eu felis
            | iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac
            | pellentesque praesent tincidunt felis sagittis eget. tempus
            | euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
            | Blandit adipiscing eu felis iaculis volutpat ac adipiscing
            | accumsan eu faucibus. Integer ac pellentesque praesent. Donec
            | accumsan interdum nisi, quis tincidunt felis sagittis eget.
            | tempus euismod. Vestibulum ante ipsum primis in faucibus
            | vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
            | adipiscing accumsan eu faucibus. Integer ac pellentesque
            | praesent tincidunt felis sagittis eget. tempus euismod.
            | Vestibulum ante ipsum primis in faucibus vestibulum. Blandit
            | adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
            | faucibus. Integer ac pellentesque praesent.

    footer#footer
      ul.icons
        li
          a.icon(href='http://www.tripadvisor.com/Hotel_Review-g303189-d2209374-Reviews-Landhaus-Samaipata_Santa_Cruz_Department.html' target='_blank')
            span.socicon 3
      ul.copyright
        li &copy; Samaipata Landhaus
        li
          | Site by 
          a(href="http://bjjbuckley.com") B. J. J. Buckley

  script(src="js/jquery.min.js")
  script(src="js/jquery.poptrox.min.js")
  script(src="js/skel.min.js")
  script(src="js/util.js")    
  <!--[if lte IE 8]>
  <script src="js/ie/respond.min.js"></script> <![endif]-->
  script(src="js/main.js")

